body {
  background-color: #999999;
  font-family: helvetica, sans-serif;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}
header {
  grid-column: span 4;
}
nav {
  grid-column: span 8;
  text-align: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
display: inline-block;
}
nav li a {
  color: #ffffff;
  display: block;
  border: 1px solid #000000;
  padding: 20px;
  margin: 6px;
  width: 70px;
  background-color: #000000;
  text-decoration: none;
}
nav li a:hover {
color: #000000;
background-color: #ffffff;
}
#mainid {
  grid-column: span 12;
}
main {
  grid-column: span 12;
  text-align: center;
  border-right: 45px solid #9F1D1D;
  border-left: 45px solid #9F1D1D;
}
