body { background-color: #999999; }

#wrapper {
  border: 1px solid #ff0000;
  width: 960px;
  background-color: #ffffff;
  margin: 1em auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 75px;
}
header {
  grid-column: span 12;
  border: 1px solid #ff0000;
}

nav {
  grid-column: span 3;
  border: 1px solid #ff0000;
}

main {
  grid-column: span 9;
  border: 1px solid #ff0000;
}

footer {
  grid-column: span 12;
  border: 1px solid #ff0000;
}

.floatimage {
  width: 170px;
  float: left;
  margin: 0 20px 20px 0;
}

.p2 {
  clear: both;
}
/*
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 10px;
  border: 1px solid #000000;
  margin: 10px;
  width: 150px;
}
*/
