.customtext {
  font-family: sans-serif;
}
.textcenter {
text-align: center;
}
.textjustify {
  text-align: justify;
}
body {
background-image: url(Paint.jpg);
}
h1 {
font-weight: normal;
font-style: italic;
color: #D86A03;
}
h2 {
font-weight: normal;
font-style: italic;
color: #D86A03;
}
h3 {
font-weight: normal;
font-style: italic;
color: #D86A03;
}
h4 {
font-weight: normal;
font-style: italic;
color: #D86A03;
}
.imgbox {
border: 20px solid #000000;
padding: 10px;
background-color: #ffffff;
}
