body {
  font-family: Helvetica;
  background-image: url(a62.png);
  background-repeat: repeat;
}
#wrapper {
  border: 3px solid #000000;
  width: 960px;
  background-color: #ffffff;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 75px;
}

header {
  grid-column: span 12;
  padding: 1em;
}

nav {
  grid-column: span 3;
}

main {
  grid-column: span 9;
  padding: 1em;
}

footer {
  grid-column: span 12;
  border-top: 3px solid black;
  display: block;
  background-color: red;
  color: white;
 padding: 0 50px 0 50px;
}

h1 {
  font-weight: normal;
  display: block;
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 2px;
}
.floatimage {
  width: 450px;
  float: left;
  margin: 0 20px 20px 0;
  border: 3px solid black;
  padding: 10px;
}
h2 {
    border-bottom: 3px solid black;
    margin-top: 1px;
    padding-bottom: 7px;
}

.p1, .p2, .p3 {
  font-weight: bold;
  font-family: Georgia;
  text-align: justify;
}
.p6 {
  font-family: Verdana;
  font-style: italic;
  text-align: center;
}
  a {
   color: #ff0000;
   text-decoration: none;
   font-weight: bold;
  }
  a:hover {
   color: #0000ff;
   text-decoration: underline;
  }
  nav ul {
    list-style-type: none;
    margin:0;
    padding: 9px;
  }
  nav li {
    display: inline-block;
    width: 223px;
    padding: 0px;
    margin: 7px;
  }
  nav li a {
    color: #ffffff;
    display: block;
    padding: 15px;
    background-color: #ff0000;
    text-decoration: none;
  }
  nav li a:hover {
  color: #ffffff;
  background-color: #660000;
  text-decoration: none;

  }
