nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}
nav li {
border: 0px solid #ff0000;
width: 175px;
padding: 0px;
margin-bottom: 10px;
background-color: #E67E7E;
}

nav li a {
color: white;
text-decoration: none;
border: 2px solid blue;
display: block;
padding: 10px;
}

nav li a:hover {
background-color: #660000;
}
